In [2]:
import re
import sys
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import argparse
import os
import warnings
import pandas as pd
from fpdf import FPDF
import cairosvg
from IPython.display import SVG, display
import math

/home1/zhuyixin/.conda/envs/assembly/lib/python3.10/site-packages/fpdf/__init__.py:39: UserWarning: You have both PyFPDF & fpdf2 installed. Both packages cannot be installed at the same time as they share the same module namespace. To only keep fpdf2, run: pip uninstall --yes pypdf && pip install --upgrade fpdf2
  warnings.warn(

In [3]:
species = "mCanLor1"
speciesCorr = "mCanLor1.corr"
haploid = False
gene = "IGH"
dirOut = f"/home1/zhuyixin/zhuyixin_proj/AssmQuality/errorPlots/{speciesCorr}"
dirStat = f"/home1/zhuyixin/zhuyixin_proj/AssmQuality/errorStats/{species}"
dirStatCorr = f"/home1/zhuyixin/zhuyixin_proj/AssmQuality/errorStats/{speciesCorr}"

In [4]:
igh = pd.read_csv(f"../errorStats/{species}/{gene}.txt", sep="\t", names=['read_name','chromosome','start','read_length','mapping_quality','mismatches','mismatch_rate','longindels','total_indel_length','indel_rate','soft_clipping','hard_clipping'])
igh["start"] = pd.to_numeric(igh["start"])
igh["read_length"] = pd.to_numeric(igh["read_length"])
igh["mapping_quality"] = pd.to_numeric(igh["mapping_quality"])
igh['mismatches'] = igh['mismatches'].astype('int')
igh['mismatch_rate'] = igh['mismatch_rate'].astype('float')
igh['longindels'] = igh['longindels'].astype('int')
igh['total_indel_length'] = igh['total_indel_length'].astype('int')
igh['indel_rate'] = igh['indel_rate'].astype('float')
igh['soft_clipping'] = igh['soft_clipping'].astype('int')
igh['hard_clipping'] = igh['hard_clipping'].astype('int')
igh['chromosome'].unique()

array(['atg000251l_1', 'SUPER_8'], dtype=object)

In [5]:
ighCorr = pd.read_csv(f"../errorStats/{speciesCorr}/{gene}.txt", sep="\t", names=['read_name','chromosome','start','read_length','mapping_quality','mismatches','mismatch_rate','longindels','total_indel_length','indel_rate','soft_clipping','hard_clipping'])
ighCorr["start"] = pd.to_numeric(igh["start"])
ighCorr["read_length"] = pd.to_numeric(igh["read_length"])
ighCorr["mapping_quality"] = pd.to_numeric(igh["mapping_quality"])
ighCorr['mismatches'] = ighCorr['mismatches'].astype('int')
ighCorr['mismatch_rate'] = ighCorr['mismatch_rate'].astype('float')
ighCorr['longindels'] = ighCorr['longindels'].astype('int')
ighCorr['total_indel_length'] = ighCorr['total_indel_length'].astype('int')
ighCorr['indel_rate'] = ighCorr['indel_rate'].astype('float')
ighCorr['soft_clipping'] = ighCorr['soft_clipping'].astype('int')
ighCorr['hard_clipping'] = ighCorr['hard_clipping'].astype('int')
ighCorr['chromosome'].unique()

array(['contig_74247', 'atg000251l_1', 'SUPER_8'], dtype=object)

In [8]:
errorReads = igh[igh['mismatch_rate']> 0.01]
errorReads

,read_name,chromosome,start,read_length,mapping_quality,mismatches,mismatch_rate,longindels,total_indel_length,indel_rate,soft_clipping,hard_clipping
165,m64094_201003_145620/143130741/ccs,atg000251l_1,185961,7355,55,410,0.055744,15,1877,0.255201,494,0
166,m64094_201004_152428/178521422/ccs,atg000251l_1,185961,18991,36,530,0.027908,21,2428,0.127850,9872,0
167,m64094_201014_175437/71566121/ccs,atg000251l_1,185961,14992,39,503,0.033551,19,2422,0.161553,6284,0
168,m64094_201003_145620/172951825/ccs,atg000251l_1,185961,11740,50,601,0.051193,26,2665,0.227002,1803,0
169,m64094_201004_152428/105056536/ccs,atg000251l_1,185961,7417,28,368,0.049616,15,1887,0.254416,1127,0
...,...,...,...,...,...,...,...,...,...,...,...,...
6344,m64094_201004_152428/8063126/ccs,SUPER_8,2552095,7088,60,143,0.020175,2,11,0.001552,0,0
6347,m64016_200910_161534/76088426/ccs,SUPER_8,2552867,12226,60,225,0.018403,6,2403,0.196548,14,0
6354,m64094_201004_152428/131336132/ccs,SUPER_8,2556796,4741,60,119,0.025100,3,254,0.053575,394,0
6357,m64016_200910_161534/103350374/ccs,SUPER_8,2559228,6220,60,98,0.015756,4,2384,0.383280,1,0
6359,m64094_201015_180930/6818283/ccs,SUPER_8,2560288,17203,60,180,0.010463,18,3045,0.177004,6,0

In [9]:
ighCorr

,read_name,chromosome,start,read_length,mapping_quality,mismatches,mismatch_rate,longindels,total_indel_length,indel_rate,soft_clipping,hard_clipping
0,m64094_201015_180930/161546696/ccs,contig_74247,68350.0,21913.0,60.0,41,0.001883,2,7,0.000321,9,0
1,m64094_201003_145620/90113792/ccs,contig_74247,74721.0,16082.0,60.0,7,0.000647,0,0,0.000000,180,0
2,m64094_201003_145620/171771094/ccs,contig_74247,76656.0,11024.0,60.0,2,0.000321,0,0,0.000000,2,0
3,m64016_200910_161534/65014412/ccs,contig_74247,76831.0,10692.0,60.0,2,0.000269,0,0,0.000000,0,0
4,m64094_201015_180930/97781581/ccs,contig_74247,79278.0,22810.0,60.0,1,0.000067,0,0,0.000000,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
6436,m64094_201003_145620/175506069/ccs,SUPER_8,NaN,NaN,NaN,0,0.000000,0,0,0.000000,0,0
6437,m64094_201014_175437/43649479/ccs,SUPER_8,NaN,NaN,NaN,0,0.000000,0,0,0.000000,0,0
6438,m64094_201004_152428/59312565/ccs,SUPER_8,NaN,NaN,NaN,0,0.000000,0,0,0.000000,0,0
6439,m64089_200917_151241/37882661/ccs,SUPER_8,NaN,NaN,NaN,0,0.000000,0,0,0.000000,0,0
6440,m64089_200917_151241/87753846/ccs,SUPER_8,NaN,NaN,NaN,12,0.000635,4,13,0.000688,4,0

In [16]:
df = pd.merge(errorReads, ighCorr, on=['read_name'], how='inner')[['read_name', 'chromosome_x', 'chromosome_y', 'mismatch_rate_x', 'mismatch_rate_y']]
df

,read_name,chromosome_x,chromosome_y,mismatch_rate_x,mismatch_rate_y
0,m64094_201003_145620/143130741/ccs,atg000251l_1,contig_74247,0.055744,0.000000
1,m64094_201004_152428/178521422/ccs,atg000251l_1,contig_74247,0.027908,0.000000
2,m64094_201014_175437/71566121/ccs,atg000251l_1,contig_74247,0.033551,0.000400
3,m64094_201003_145620/172951825/ccs,atg000251l_1,contig_74247,0.051193,0.000256
4,m64094_201004_152428/105056536/ccs,atg000251l_1,contig_74247,0.049616,0.002157
...,...,...,...,...,...
500,m64094_201004_152428/8063126/ccs,SUPER_8,contig_74247,0.020175,0.000000
501,m64016_200910_161534/76088426/ccs,SUPER_8,contig_74247,0.018403,0.000573
502,m64094_201004_152428/131336132/ccs,SUPER_8,contig_74247,0.025100,0.000211
503,m64016_200910_161534/103350374/ccs,SUPER_8,contig_74247,0.015756,0.000000
504,m64094_201015_180930/6818283/ccs,SUPER_8,contig_74247,0.010463,0.000000

In [21]:
filtered_df = df[df['chromosome_y'] == 'contig_74247']
filtered_df

,read_name,chromosome_x,chromosome_y,mismatch_rate_x,mismatch_rate_y
0,m64094_201003_145620/143130741/ccs,atg000251l_1,contig_74247,0.055744,0.000000
1,m64094_201004_152428/178521422/ccs,atg000251l_1,contig_74247,0.027908,0.000000
2,m64094_201014_175437/71566121/ccs,atg000251l_1,contig_74247,0.033551,0.000400
3,m64094_201003_145620/172951825/ccs,atg000251l_1,contig_74247,0.051193,0.000256
4,m64094_201004_152428/105056536/ccs,atg000251l_1,contig_74247,0.049616,0.002157
...,...,...,...,...,...
500,m64094_201004_152428/8063126/ccs,SUPER_8,contig_74247,0.020175,0.000000
501,m64016_200910_161534/76088426/ccs,SUPER_8,contig_74247,0.018403,0.000573
502,m64094_201004_152428/131336132/ccs,SUPER_8,contig_74247,0.025100,0.000211
503,m64016_200910_161534/103350374/ccs,SUPER_8,contig_74247,0.015756,0.000000
504,m64094_201015_180930/6818283/ccs,SUPER_8,contig_74247,0.010463,0.000000

In [18]:
504/505

0.998019801980198

In [19]:
filtered_df.describe()

       mismatch_rate_x  mismatch_rate_y
count       504.000000       504.000000
mean          0.019843         0.000256
std           0.010215         0.001216
min           0.010026         0.000000
25%           0.013084         0.000000
50%           0.016107         0.000000
75%           0.023244         0.000168
max           0.061134         0.023143